
*.suo
*\.suo
*.squlite
*.VSWorkspaceState.json
*.lock
*.dylib
*.dll
*.dll.config
*.exe
*pdb
*libopenal.so.1
*libSDL2-2.0.so.0
*.CopyComplete
*.csproj.FileListAbsolute.txt
*.cache
*.sqlite
*.vs/VSWorkspaceState.json
*/storage.ide-*
